body {

margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:#111827;

font-family:Arial, sans-serif;

}



.login-container {

background:white;

width:350px;

padding:40px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

}



.logo {

font-size:32px;

font-weight:bold;

color:#0066ff;

}



.logo span {

color:#111;

}



h2 {

margin-bottom:25px;

}



input {

width:90%;

padding:12px;

margin:8px;

border-radius:8px;

border:1px solid #ccc;

}



button {

width:95%;

padding:12px;

margin-top:15px;

background:#0066ff;

color:white;

border:none;

border-radius:8px;

font-size:16px;

cursor:pointer;

}



button:hover {

background:#004ecc;

}



#mensagem {

color:red;

margin-top:15px;

}
